@import "./variables";
@import "./reusables";

@mixin button {
    padding: 0.65rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    background-color: $white;
    color: $dark-grey;
    text-align: center;
    &:hover {
        opacity: 0.8;
    }
}

.main {
    min-height: 90vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    place-items: center;
    background-color: $dark-grey;
    @include tablet {
        @include sectionPadding;
        display: flex;
    }

    .container {
        background-color: $dark-grey-2;
        color: $white;
        border-radius: 1.25rem;
        display: flex;
        width: 50vw;
        height: fit-content;
        overflow: hidden;

        @include smallLaptop {
            width: 70vw;
            max-width: 500px;
        }

        @include tablet {
            width: 100vw;
            max-width: 500px;
        }

        .content,
        .verifyingContent,
        .verifiedContent {
            padding: 1.5rem 1.25rem;
            flex-direction: 65%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @include smallLaptop {
                flex-direction: 100%;
                width: 100%;
            }
            &__top {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.25rem;
                margin-bottom: 0.5rem;
                h3 {
                    font-weight: $fontWeight-600;
                }
                p {
                    font-size: $font-size-18;
                    text-align: center;
                }
            }
            &__loginOptions {
                display: flex;
                gap: 0.25rem;
                .option {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.25rem;
                    border-radius: 1rem;
                    padding: 0.5rem;
                    cursor: pointer;
                    &:hover {
                        background-color: rgba($color: #fff, $alpha: 0.1);
                    }
                    span {
                        width: 2.5rem;
                        height: 2.5rem;
                        display: grid;
                        place-items: center;
                        svg {
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                    p {
                        font-size: $font-size-16 - 0.125rem;
                        font-weight: $fontWeight-300;
                    }
                }
            }
            > span {
                text-align: center;
                font-size: $font-size-16 - 0.125rem;
                position: relative;
                width: 100%;
                &::before,
                &::after {
                    content: "";
                    width: 45%;
                    height: 0.0313rem;
                    background-color: rgba($color: $white, $alpha: 0.5);
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(50%);
                }
                &::after {
                    left: auto;
                    right: 0;
                }
            }
            &__form {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                min-width: 25rem;
                @include tablet {
                    width: 100%;
                    min-width: auto;
                }

                .rowFormFieldContainer {
                    display: flex;
                    gap: 0.5rem;
                }
                .formFieldContainer {
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;
                    label {
                        font-size: $font-size-16 - 0.125rem;
                        font-weight: $fontWeight-300;
                    }
                    .formField {
                        display: flex;
                        border-radius: 0.5rem;
                        overflow: hidden;
                        span {
                            padding: 0.5rem;
                            background-color: rgba($color: $white, $alpha: 0.1);
                            width: 2.5rem;
                            display: grid;
                            place-items: center;
                            svg {
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                        }
                        .clickable {
                            cursor: pointer;
                            &:hover {
                                background-color: rgba($color: $white, $alpha: 0.2);
                            }
                        }
                        input {
                            width: 100%;
                            background-color: transparent;
                            outline: none;
                            border: none;
                            background-color: rgba($color: $white, $alpha: 0.1);
                            color: $white;
                            font-size: $font-size-16;
                        }
                    }
                }
                button {
                    @include button;
                }
                .extraOptions {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    > span {
                        font-size: $font-size-16 - 0.125rem;
                        font-weight: $fontWeight-300;
                        text-align: center;
                        // &:first-child {
                        //     cursor: pointer;
                        //     &:hover {
                        //         color: $primary-color-sub;
                        //     }
                        // }
                        a {
                            color: $primary-color-sub;
                        }
                    }
                }
            }
        }
        .imagesDisplay {
            // border: 1px solid #fff;
            flex-direction: 35%;
            width: 100%;
            height: 32.5rem;
            overflow: hidden;
            position: relative;

            @include smallLaptop {
                display: none;
            }

            > span {
                background-color: $white;
                width: 5rem;
                height: 5rem;
                border-radius: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                display: grid;
                place-items: center;
                box-shadow: 0px 0px 48px 8px rgba(0, 0, 0, 0.35);
                img {
                    width: 55%;
                    height: 55%;
                }
            }
            .images {
                display: flex;
                width: 100%;
                height: 100%;
                // position: absolute;
                gap: 0.8rem;
                // top: 0%;
                // left: 0%;
                // margin-left: 58%;
                // margin-top: 8%;
                rotate: 25deg;
                transform: translate(-65%, 0%);
                .column {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    // width: 100%;
                    height: 120%;
                    &:nth-child(2) {
                        transform: translateY(-40px);
                    }
                    &:nth-child(3) {
                        transform: translateY(40px);
                    }
                }
                span {
                    position: relative;
                    grid-area: i;
                    width: 7rem;
                    height: 12rem;
                    border-radius: 0.625rem;
                    overflow: hidden;
                    img {
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .verifyEmailContainer {
        max-width: 450px;

        .verifyingContent,
        .verifiedContent {
            width: 100%;
            .loader {
                height: 150px;
                position: relative;
                display: grid;
                place-items: center;
            }
            h3 {
                font-weight: $fontWeight-600;
                text-align: center;
            }
            p {
                text-align: center;
            }
            span {
                .verifiedIcon {
                    width: 5rem;
                    height: 5rem;
                    display: grid;
                    place-items: center;
                    margin: 0 auto;
                    svg {
                        width: 3.5rem;
                        height: 3.5rem;
                        path {
                            fill: $success-color;
                        }
                    }
                }
            }
            a, button {
                @include button;
            }
        }
    }
}
