@import "./variables";
@import "./reusables";

@mixin activeNavLink {
    background-color: rgba($color: $dark-grey, $alpha: 0.05);
    color: $primary-color-sub;
    svg {
        path {
            fill: $primary-color-sub;
        }
    }
    &::before {
        left: 0;
        background-color: $primary-color-sub;
    }
}

.sidebar {
    width: 25%;
    height: calc(100vh - 3.125rem);
    background-color: $dark-grey;
    color: $white;
    &__menu {
        display: flex;
        flex-direction: column;
        margin-top: 1.25rem;
        li {
            padding: 0.8rem 1rem;
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: $font-size-16 - 0.125rem;
            cursor: pointer;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: -0.25rem;
                top: 0;
                bottom: 0;
                width: 3px;
                background-color: transparent;
                transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
            &:hover {
                @include activeNavLink();
                &:before {
                    opacity: 0;
                }
            }
            svg {
                width: 20px;
                path {
                    fill: $primary-color-sub;
                }
            }
            span {
                margin-left: auto;
                display: inline-flex;
                svg {
                    width: .75rem;
                    height: .75rem;
                    path {
                        fill: $primary-color-sub;
                    }
                }
            }
            .active {
                rotate: 90deg;
                transform-origin: center center;
            }
        }
        .subLinks {
            transition: all 300ms ease;
            li {
                font-size: $font-size-16 - .25rem;
                &::before {
                    opacity: 0;
                }
                &:hover {
                    background-color: rgba($color: $dark-grey, $alpha: 0.05);
                    &::before {
                        opacity: 0;
                    }
                }
                svg {
                    scale: 0.8;
                }
            }
            height: 0rem;
            overflow: hidden;
        }
        .subLinkContainerIsOpen {
            height: calc(3.1rem * var(--multiplicant-value));
            animation: openDropdown 300ms cubic-bezier(0.91, -0.31, 0.27, 1.55);
        }
        .active {
            @include activeNavLink();
        }
    }
}
