@import "./variables";
@import "./reusables";

.topbar {
    width: 100%;
    height: 3.125rem;
    padding: 0px 1.5rem;
    display: flex;
    justify-content: space-between;
    // box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.04);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.16));
    background-color: $dark-grey-2;
    color: $white;
    @include tablet {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    a {
        display: inline-flex;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 0.625rem;
        position: relative;
        &__image {
            width: 2.5rem;
            display: inline-flex;
            @include tablet {
                width: 2rem;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__rhs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 81.2%;
        @include tablet {
            display: none;
        }

        .searchContainer {
            @include input;
            background-color: rgba($color: $white, $alpha: 0.01);
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0 1.2rem;
            padding-right: 0;
            &:hover {
                background-color: rgba($color: $white, $alpha: 0.05);
            }
            svg {
                opacity: 0.6;
                path {
                    stroke: $white;
                }
            }
            input {
                @include input;
                padding: 0.8rem 1.2rem;
                padding-left: 0;
                background-color: transparent;
                border-radius: 0;
                color: $white;
                font-weight: $fontWeight-300;
                &::placeholder {
                    color: rgba($color: $white, $alpha: 0.45);
                }
            }
        }
        .searchContainer > input:focus-visible ~ .searchContainer {
            background-color: rgba($color: $white, $alpha: 0.05);
        }
        .accountContainer {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
            position: relative;
            &:hover {
                opacity: 0.65;
            }

            &__image {
                width: 2rem;
                height: 2rem;
                border: 1px solid rgba($color: $grey, $alpha: 0.1);
                display: grid;
                place-items: center;
                border-radius: 100%;
                position: relative;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                svg {
                    width: 0.85rem;
                    height: 0.85rem;
                }
            }
            & > h3 {
                font-weight: $fontWeight-500;
                font-size: $font-size-16 - 0.125rem;
                // color: $dark-grey;
                color: $white;
                // max-width: 90px;
                // text-overflow: ellipsis;
                // overflow: hidden;
                // white-space: nowrap;
            }
        }
    }
}
