@import "./variables";
@import "./reusables";

.event, .gridDisplay, .eventLightTheme {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // gap: 1rem; 
    position: relative;
    width: 100%; 
    max-width: 35%;
    padding: 30px 10px 10px;
    border-radius: 0.75rem;
    overflow: hidden;
    height: 300px;
    max-height: 100%;
    background-color: var(--dark-grey-3);
    @include tablet {
        min-width: 18.75rem;
        max-width: 18.75rem;
    }
    @include bigMobilePhone {
        min-width: 18.75rem;
        max-width: 18.75rem;
        overflow-x: auto;
        scroll-snap-align: center;
    }

    .backgroundImage {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        img {
            object-fit: fill;
        }
    }

    &__tag {
        z-index: 2;
        border-end-start-radius: 8px;
        background-color: var(--primary-color);
        color: var(--white);
        width: fit-content;
        position: absolute;
        top: 0;
        right: 0;
        font-size: $font-size-16 - 0.25rem;
        padding: 0.25rem 1rem;
    }

    &__image {
        z-index: 2;
        min-height: 7.5rem;
        max-height: 7.5rem;
        border-radius: 0.75rem;
        overflow: hidden;
        position: relative;
        // margin-bottom: 1.5rem;
        &::after {
            content: "";
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 4.17%, rgba(#000, 0.2) 100%);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            position: absolute;
            opacity: 1;
        }
        &:hover {
            &::after {
                opacity: 0;
            }
            img {
                scale: 1.1;
            }
        }

        img {
            object-fit: cover;
        }
    }

    .hLine {
        z-index: 2;
        width: 90%;
        height: 0.25rem;
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .eventInfo {
        display: flex;
        align-items: flex-start;
        z-index: 2;
        // margin-top: 0.8rem;
        &__lhs {
            flex-basis: 85%;
            width: 76%;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            h3 {
                text-align: left;
                max-width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .title {
                font-size: $font-size-16 + 0.125rem;
                font-family: Mona-Sans-Wide, "sans-serif";
                font-weight: $fontWeight-500;
                width: fit-content;
            }
            .dateTime {
                display: flex;
                align-items: center;
                gap: 0.25rem;

                &__date,
                &__time {
                    font-size: $font-size-16 - 0.125rem;
                    color: var(--white);
                }
                &__dot {
                    width: 0.188rem;
                    height: 0.188rem;
                    background-color: var(--white);
                    border-radius: 100%;
                    display: block;
                }
                &__date {
                    font-weight: $fontWeight-500;
                }
                &__time {
                    opacity: 0.8;
                }
            }
            .location {
                display: inline-flex;
                align-items: center;
                gap: 0.125rem;
                width: 100%;
                svg {
                    width: 16px;
                    min-width: 16px;
                    height: 16px;
                }
                p {
                    font-size: $font-size-16 - 0.125rem;
                    font-weight: $fontWeight-300;
                    max-width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
        &__rhs {
            flex-basis: 15%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            height: 100%;
            // gap: .75rem;
            .actions {
                display: flex;
                gap: 0.45rem;
                & > button {
                    border: none;
                    outline: none;
                    width: 1.875rem;
                    height: 1.875rem;
                    border-radius: 100%;
                    // border: 1px solid #fff;
                    display: grid;
                    place-items: center;
                    background-color: transparent;
                    cursor: pointer;
                    &:hover {
                        background-color: rgba($color: $white, $alpha: 0.2);
                    }
                    svg {
                        width: 0.8rem;
                        height: 0.8rem;
                    }
                    &:nth-child(2) {
                        background-color: #d5542a;
                        &:hover {
                            background-color: darken($color: #d5542a, $amount: 10%);
                        }
                    }
                }
            }
            .restriction {
                font-size: $font-size-16 - 0.25rem;
                color: var(--grey-3);
            }
        }
    }

    .actionBtnContainer {
        display: flex;
        gap: .25rem;
        .deleteBtn, .editBtn {
            width: 3rem;
            min-width: 3rem;
            background-color: var(--failed-color);
            border-radius: 0.5rem;
            cursor: pointer;
            scale: 0.9;
            display: grid;
            place-items: center;
            &:hover {
                background-color: darken($color: $failed-color, $amount: 10%);
            }
            svg {
                path {
                    fill: $white;
                }
            }
        }
        .editBtn {
            background-color: var(--white);
            height: 100%;
            &:hover {
                background-color: darken($color: $white, $amount: 10%);
            }
            svg {
                path {
                    fill: $primary-color;
                }
            }
        }
        & > a:not(.noStyle) {
            z-index: 2;
            @include primary-button;
            width: 100%;
            justify-content: center;
            &:hover {
                background-color: var(--white);
                button {
                    color: var(--primary-color);
                }
            }
            & > button {
                cursor: pointer;
                background-color: transparent;
                color: var(--white);
                border: none;
                outline: none;
            }
        }
    }
}

.gridDisplay {
    max-width: none;
}

.eventLightTheme {
    background-color: var(--black);
    .event__tag {
        color: var(--black);
    }
    .actionBtnContainer {
        & > a:not(.noStyle) {
            & > button {
                color: var(--black);
            }
            &:hover {
                button {
                    color: var(--black);
                }
            }
        }
    }
    .eventInfo {
        &__lhs {
            .location {
                svg {
                    path {
                        fill: var(--white);
                    }
                }
            }
        }
        &__rhs {
            .actions {
                &__like {
                    svg {
                        path {
                            fill: var(--white);
                        }
                    }
                    &:hover {
                        opacity: 0.65;
                    }
                }
            }
        }
    }
}