@import "./variables";
@import "./reusables";

.allEventsPage {
    color: $white;

    .heroSection {
        @extend .pageHeroSection;
    }
}

.allEventsPageConsole {
    height: 100%;
    
    .heroSection {
        .textContents {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }
    }
    // .allEvents {
    //     padding: 1.5rem !;
    // }
}
