@import "./variables";
@import "./reusables";

.allEventsPage {
    color: $white;

    .heroSection {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        // overflow: hidden;

        .textContents {
            @include sectionPadding;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            width: 70%;
            z-index: 2;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            @include bigMobilePhone {
                width: 100%;
            }
            h2 {
                font-weight: $fontWeight-500;
                font-size: $font-size-35;
                line-height: $font-size-35;
                @include bigMobilePhone {
                    font-size: $font-size-30;
                    line-height: $font-size-30;
                }
                span {
                    font-family: Mona-Sans-Wide, sans-serif;
                    color: $secondary-color;
                }
            }
            p {
                color: $primary-color-sub;
                font-weight: $fontWeight-300;
                span {
                    color: $white;
                    font-weight: $fontWeight-400;
                }
            }
        }
        .video {
            position: absolute;
            // border: 2px solid #fff;
            height: 100%;
            width: 100%;
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                // object-position: 50% -750%;
                object-position: bottom;
            }
            &::after {
                content: "";
                background-color: $white;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 2;
                background: linear-gradient(180deg, #8133f1 0%, #6315d3 100%);
                opacity: 0.5;
            }
        }
    }
}

.allEventsPageConsole {
    height: 100%;
    
    .heroSection {
        .textContents {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }
    }
    // .allEvents {
    //     padding: 1.5rem !;
    // }
}
