@import "./variables";
@import "./reusables";

.featuredEvents {
    @include sectionPadding;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    background-color: $dark-grey;
    display: flex;
    align-items: flex-start;
    position: relative;
    color: $white;

    @include bigMobilePhone {
        flex-direction: column;
        gap: 2rem;
        padding-top: 6.5rem;
        padding-bottom: 4.5rem;
    }

    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    // border: 1px solid #fff;

    .topArea {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        &__lhs {
            .main {
                display: flex;
                align-items: center;
                gap: 0.25rem;
                span {
                    font-size: $font-size-30;
                    font-weight: $fontWeight-500;
                    font-family: Mona-Sans-Wide, "sans-serif";
                }
                img {
                    height: 1.25rem;
                    width: fit-content;
                    display: inline-flex;
                }
            }
            p {
                font-size: $font-size-16 - 0.125rem;
                width: 80%;
                opacity: 0.8;
                @include bigMobilePhone {
                    width: auto;
                }
            }
        }
        &__rhs {
            button {
                padding: 0.4rem 0.8rem;
                background: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                border-radius: 6px;
                opacity: 0.8;
                font-size: $font-size-16 - 0.125rem;
                color: $white;
                white-space: nowrap;
                &:hover {
                    background-color: rgba($white, 0.1);
                    opacity: 1;
                }
            }
            .moreInfoButton {
                border-radius: 100%;
                background-color: rgba($white, 0.1);
                padding: 0;
                width: 2rem;
                height: 2rem;
                display: grid;
                place-items: center;
            }
        }
    }
    .eventsContainer {
        width: 100%;
        overflow-x: auto;
        position: relative;
        overflow: hidden;

        .eventsContainerCarousel {
            display: flex;
            flex-wrap: nowrap;
            gap: 1rem;
            height: 300px;
            overflow-x: auto;
            @include bigMobilePhone {
                overflow-x: auto;
                scroll-snap-type: x mandatory;
            }

        }
        .noEvents {
            text-align: center;
            width: fit-content;
            margin: 0 auto;
            p {
                font-size: $font-size-16 - 0.125rem;
                opacity: 0.4;
            }
        }
    }
    .controller {
        top: 0;
        z-index: 2;
        top: 60%;
        left: 11%;
        transform: translateY(-50%);
        position: absolute;

        display: grid;
        place-items: center;
        min-width: 2.5rem;
        min-height: 2.5rem;
        border-radius: 100%;
        background-color: $primary-color;
        z-index: 2;
        cursor: pointer;
        &:nth-of-type(2) {
            left: auto;
            right: calc(11% + 1rem);
            // border: 2px solid #fff;
        }
        @include bigMobilePhone {
            display: none;
        }
    }
}
