@import "./variables";
@import "./reusables";

@mixin modalBumpInAnimation {
    // animation: modalBumpIn 400ms ease;
    // animation: modalBumpIn 400ms cubic-bezier(0.65, -0.07, 0.25, 1.24);
    animation: modalBumpIn 400ms cubic-bezier(0.97, -0.18, 0.27, 1.55);

    @keyframes modalBumpIn {
        from {
            transform: translateY(3rem);
            opacity: 0;
        }
    }
}
@mixin modalBumpOutAnimation {
    animation: modalBumpOut 400ms cubic-bezier(0.65, -0.07, 0.25, 1.24);

    @keyframes modalBumpOut {
        from {
            transform: translateY(0);
            opacity: 0;
        }
    }
}
@mixin overlayFadeOutAnimation {
    animation: overlayFadeOut 400ms ease;

    @keyframes overlayFadeOut {
        from {
            opacity: 1;
        }
    }
}


.modalParent {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 120;
    display: grid;
    place-items: center;
    @include sectionPadding;

    .overlay {
        background-color: rgba(#222222, 0.6);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .modalContainer {
        background-color: $primary-color-sub;
        // padding: 24px;
        // border-radius: 16px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // gap: 24px;
        transform: translateY(0px);
        z-index: 120 !important;
        // max-width: 350px;
        width: 100%;
        margin: auto;
        @include modalBumpInAnimation();

        @include tablet {
            width: auto;
            max-width: 90%;
        }

        @include bigMobilePhone {
            width: 100% !important;
            max-width: 100% !important;
        }
    }
}

.modalParentInvisible {
    @extend .modalParent;
    // visibility: hidden;
    // opacity: 0;
    pointer-events: none;
    .overlay {
        opacity: 0;
        @include overlayFadeOutAnimation();
    }
    .modalContainer {
        transform: translateY(3rem);
        opacity: 0;
        @include modalBumpOutAnimation();
    }
}