@import "./variables";
@import "./reusables";

// Animations
@mixin bumpInAnimation() {
    // animation: bumpDown 400ms cubic-bezier(0.91, -0.31, 0.27, 1.55);
    animation: bumpIn 400ms cubic-bezier(0.65, -0.07, 0.25, 1);

    @keyframes bumpIn {
        from {
            right: -100%;
            opacity: 0;
        }
    }
}
@mixin bumpOutAnimation {
    // animation: bumpOut 400ms cubic-bezier(0.65, -0.07, 0.25, 1.24);
    animation: bumpOut 400ms ease;

    @keyframes bumpOut {
        to {
            // top: 2rem;
            right: -100%;
            // opacity: 0;
        }
    }
}

@mixin navLink {
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.8rem;
    margin: 0 auto;
    gap: .5rem;
    svg {
        width: 1rem;
        height: 1rem;
    }
}

.navbarContainer {
    @include sectionPadding;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $dark-grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    }

    &__lhs {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        .logo {
            height: 1.875rem;
            // width: 1.875rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        p {
            font-size: $font-size-16 - 0.125rem;
            font-weight: $fontWeight-300;
            color: $white;
        }
    }

    &__rhs {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        color: $white;
        font-size: $font-size-16 - 0.125rem;
        .navLinks {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 1rem;
            border-right: 1px solid $grey;
            padding-right: 1.5rem;
            cursor: pointer;
            li {
                &:hover {
                    color: $primary-color-sub;
                }
            }
        }
        .accountSection {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
            position: relative;

            .profileCircle {
                width: 2rem;
                height: 2rem;
                border: 1px solid rgba($color: $grey, $alpha: 0.1);
                display: grid;
                place-items: center;
                border-radius: 100%;
                position: relative;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                svg {
                    width: 0.85rem;
                    height: 0.85rem;
                }
            }
            & > h3 {
                font-weight: $fontWeight-500;
                font-size: $font-size-16 - 0.125rem;
                color: $primary-color-sub;
                max-width: 90px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .dropdownIcon {
                width: 1.5rem;
                height: 1.5rem;
                display: grid;
                place-items: center;
                border-radius: 0.5rem;
                svg {
                    width: 1rem;
                    height: 1rem;
                    color: $white;
                    path {
                        fill: $primary-color-sub;
                    }
                }
            }
            &:hover {
                .dropdownIcon {
                    background-color: rgba($color: $white, $alpha: 0.1);
                }
            }

            & > .dropdownContainer {
                background-color: $white;
                padding: 0.25rem;
                border-radius: 0.5rem;
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 2.5rem + 0.313rem;
                right: -0.688rem;
                width: 90%;
                max-width: 8rem;
                box-shadow: 0rem 0.25rem 0.5rem 0.063rem rgba(0, 0, 0, 0.04);
                @include bumpDownAnimation;
                z-index: 3;

                &::after {
                    content: "";
                    width: 0.875rem;
                    height: 0.875rem;
                    background-color: $white;
                    rotate: 45deg;
                    position: absolute;
                    top: -0.375rem;
                    right: 1rem;
                    border-radius: 0.188rem;
                }
                span,
                a {
                    padding: 0.5rem 0.75rem;
                    color: $black;
                    border-radius: 0.375rem;
                    &:hover {
                        background-color: rgba($color: $grey, $alpha: 0.8);
                    }
                }
            }

            > a > button {
                @include primary-button;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                background-color: $white;
                color: $dark-grey;
                &:hover {
                    background-color: $dark-grey;
                    color: $white;
                }
            }
        }

        .themeController {
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 0.5rem;
            display: grid;
            place-items: center;
            cursor: pointer;
            svg {
                width: 1.125rem;
                height: 1.125rem;
            }
            &:hover {
                background-color: rgba($color: $white, $alpha: 0.1);
            }
        }
    }

    .mobileNavIcon {
        z-index: 6;
        cursor: pointer;
        svg {
            z-index: 6;
        }
    }

    @keyframes slideIn {
        from {
            right: -2.188rem;
            opacity: 0;
        }
    }

    .mobileNavbarOverlay {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        position: fixed;
        background-color: rgba($color: $black, $alpha: 0.5);
        animation: slideIn 400ms cubic-bezier(0.65, -0.07, 0.25, 1.24) 100ms;
        z-index: 5;
    }

    .mobileNavbar {
        background-color: $white;
        width: 85%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        display: grid;
        place-items: center;
        animation: slideIn 400ms cubic-bezier(0.65, -0.07, 0.25, 1.24);
        z-index: 5;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            li {
                font-size: $font-size-16 - 0.125rem;
                font-weight: $fontWeight-600;
                button {
                    @include secondary-button;
                }
            }
        }
        span {
            position: absolute;
        }
    }
}

.mobileNavbarContainer {
    @include sectionPadding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $dark-grey;

    > a {
        display: flex;
        align-items: center;
        .logo {
            height: 2rem;
            width: 2rem;
            margin-right: 0.5rem;
        }
        p { 
            color: $white;
            font-size: $font-size-16 - .25rem;
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        gap: 0.85rem;
        span {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 0.625rem;
            background: rgba(255, 255, 255, 0.1);
            display: grid;
            place-items: center;
            cursor: pointer;
            &:hover {
                scale: 0.85;
            }
            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }

    .navbarOverlayContainer,
    .navbarOverlayContainerClose {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 999;
        // @include bumpInAnimation();
        .navbarOverlay {
            background: $white;
            backdrop-filter: blur(10px);
            width: 80%;
            height: 100%;
            margin: auto 0;
            // margin-right: 1rem;
            // transform: translateY(80px);
            // background: rgba(255, 255, 255, 0.6);
            // border-radius: 1rem;
            padding: 1.25rem;
            display: flex;
            flex-direction: column;
            z-index: 2;

            .topArea {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2.5rem;
                .profileArea {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    width: 100%;
                    .userImage {
                        width: 56px;
                        height: 56px;
                        min-width: 56px;
                        min-height: 56px;
                        border-radius: 100%;
                        overflow: hidden;
                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .userInfo {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        h4 {
                            font-size: 1rem;
                            font-weight: 500;
                            color: $dark-grey;
                            margin-bottom: .25rem;
                            max-width: 90%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        a {
                            font-size: $font-size-16 - .25rem;
                            font-weight: 400;
                            color: $primary-color;
                            background-color: $white;
                            width: fit-content;
                        }
                    }
                }
            }

            .closeIcon {
                margin-left: auto;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 0.5rem;
                display: grid;
                place-items: center;
                background-color: rgba($color: $primary-color, $alpha: 0.05);
                &:hover {
                    scale: 0.85;
                }
                svg {
                    width: 2rem;
                    height: 2rem;
                    path {
                        fill: $primary-color;
                    }
                }
            }

            .navLinks {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                height: 100%;
                span {
                    // border-top: 1px solid rgba($color: $primary-color-sub, $alpha: 0.5);
                    // border-bottom: 1px solid rgba($color: $primary-color-sub, $alpha: 0.5);
                    // border: 1px solid rgba($color: $primary-color-sub, $alpha: 0.5);
                    @include navLink();
    
                    &:hover {
                        background-color: rgba($color: $primary-color, $alpha: 0.05);
                        border-radius: 0.5rem;
                        color: $primary-color;
                        svg {
                            path {
                                fill: $primary-color;
                            }
                        }
                    }
                }
                .logoutBtn, .loginBtn {
                    @include navLink();
                    // border: 1px solid $failed-color;
                    background-color: rgba($color: $failed-color, $alpha: 0.0);
                    // margin-top: auto;
                    color: $failed-color;
                    svg {
                        path {
                            stroke: $failed-color;
                        }
                    }
                }
                .loginBtn {
                    // border: 1px solid $primary-color;
                    color: $primary-color;
                    background-color: rgba($color: $primary-color, $alpha: 0.05);
                    svg {
                        path {
                            stroke: $primary-color;
                        }
                    }
                }
            }
        }
        .overlay {
            position: absolute;
            content: "";
            background-color: rgba($color: $dark-grey, $alpha: 0.9);
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
        }
    }
    
    // .navbarOverlayContainerClose {
    //     right: -100%;
    //     .overlay {
    //         height: 0;
    //     }
    //     @include bumpOutAnimation();
    // }
}
