@import "./variables";
@import "./reusables";

.orderspage {
    color: $white;
    background-color: $dark-grey;
    @include sectionPadding;
    padding-top: 24px;
    padding-bottom: 80px;

    .loaderAreaContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
        text-align: center;
        .loaderArea {
            width: 100px;
            height: 100px;
            position: relative;
            margin-bottom: 1rem;
        }
        h3 {
            font-size: 1.25rem;
            font-weight: 500;
            color: $white;
            margin-bottom: 0.25rem;
        }
        p {
            font-size: 0.85rem;
            color: $white;
            text-align: center;
        }
    }

    .topArea {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        .closeIcon {
            @include closeIcon($white);
            margin: 0;
            svg {
                width: 1rem;
                height: 1rem;
            }
        }

        h2 {
            font-size: $font-size-24;
            font-weight: $fontWeight-500;
            margin: 0;
            span {
                opacity: 0.5;
            }
        }
    }

    .orderInformationContainer {
        display: flex;
        @include tablet {
            flex-direction: column;
        }
        .eventContainer {
            @include tablet {
                width: 100%;
                order: 2;
            }
            width: 35%;
            margin-right: 3rem;
        }
        .ticketsContainer {
            width: calc(65% - 3rem);
            display: flex;
            flex-direction: column;
            background-color: $container-grey;
            margin-bottom: 2rem;
            height: fit-content;
            padding: 1rem;
            border-radius: 20px;

            @include tablet {
                order: 1;
                width: 100%;
                // border: 1px solid #fff;
            }
            > h2 {
                font-size: $font-size-24;
                font-weight: $fontWeight-500;
                margin-bottom: 0.25rem;
            }
            > p {
                font-size: $font-size-16 - .125rem;
                font-weight: $fontWeight-400;
                color: $white;
                opacity: 0.7;
                margin-bottom: 1rem;
            }
            .tickets {
                display: flex;
                flex-direction: column;
                .ticket {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1rem 0;
                    border-bottom: 1px solid $container-grey;
                    @include tablet {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    &:last-child {
                        padding-bottom: 0;
                        border-bottom: none;
                    }
                    h3 {
                        font-size: $font-size-16 + 0.125rem;
                        font-weight: $fontWeight-500;
                    }
                    p {
                        margin-left: auto;
                        margin-right: 1rem;
                        @include tablet {
                            margin: 0;
                        }
                    }
                    button {
                        background-color: transparent;
                        border: none;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 0.5rem;
                        cursor: pointer;
                        display: none;
                        &:hover {
                            background-color: $container-grey;
                        }
                        svg {
                            width: 1rem;
                            height: 1rem;
                            path {
                                stroke: $white;
                            }
                        }
                    }
                }
            }
            .actions {
                display: flex;
                margin-left: auto;
                button {
                    @include tertiary-button;
                    &:first-child {
                        @include tertiary-button;
                        background-color: transparent;
                        color: $white;
                        border: 2px solid $white;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}
