@import "./variables";
@import "./reusables";


@mixin drawerBumpInToUpAnimation {
    animation: drawerBumpIn 400ms ease;

    @keyframes drawerBumpIn {
        from {
            right: -100%;
            opacity: 0;
        }
    }
}
@mixin drawerBumpOutToUpAnimation {
    animation: drawerBumpOut 400ms ease;

    @keyframes drawerBumpOut {
        to {
            right: -100%;
            opacity: 0;
        }
    }
}

.rightSidebarContainer {
    width: 100vw;
    min-width: 100%;
    height: 100vh;
    // height: calc(100vh - 3rem);
    position: fixed;
    left: 0;
    bottom: 0;
    // top: 0;
    z-index: 3;
    // border: .625rem solid #fff;
    @include tablet {
        z-index: 120;
    }

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.5);
        top: 0;
        left: 0;
        z-index: 1;
        cursor: pointer;
    }
    .container {
        background-color: $dark-grey;
        // width: 80%;
        height: 90%;
        overflow-x: hidden;
        right: 0;
        top: 4%;
        position: absolute;
        z-index: 4;
        display: flex;
        flex-direction: column;
        border-radius: 1.5rem;
        padding: 1.25rem;
        // animation: slideRight 640ms cubic-bezier(0.86, 0, 0.07, 1);
        @include drawerBumpInToUpAnimation();

        @include tablet {
            width: 100%;
            z-index: 120;
        }
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1.25rem;
            // padding: .75rem;
            h3 {
                font-size: $font-size-20;
                font-weight: $fontWeight-500;
            }
            .closeIcon {
                padding: 0.125rem;
                display: inline-flex;
                // border: .0625rem solid;
                border-radius: 0.25rem;
                cursor: pointer;
                background-color: transparent;
                &:hover {
                    svg {
                        path {
                            fill: $black;
                        }
                    }
                }
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
            button {
                @include secondary-button;
            }
        }
    }
}
.rightSidebarContainerInvisible {
    @extend .rightSidebarContainer;
    opacity: 0;
    .container {
        @include drawerBumpOutToUpAnimation();
    }
}