@import "./variables";
@import "./reusables";

@keyframes loading {
    0% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(-60%);
    }
    100% {
        transform: translateX(150%);
    }
}

@keyframes fade {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@mixin button {
    @include primary-button;
    border-radius: 2.5rem;
    background-color: $white;
    color: $black;
    font-weight: $fontWeight-500;
    font-size: $font-size-18;
}

.shimmerWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: #fff;
    animation: loading 2.5s infinite;
}

.shimmer {
    width: 50%;
    height: 100%;
    background: #f8f8f8;
    background: rgba(73, 73, 73, 0.2);
    // mix-blend-mode: soft-light;
    transform: skewX(-20deg);
    filter: blur(0.938rem);
    box-shadow: 0 0 1.875rem 1.875rem rgba(255, 255, 255, 0.05);
}

.skeleton {
    background-color: #ddd;
    background-color: #494949;
    margin: 0.625rem 0rem;
    border-radius: 0.5rem;
    animation: fade 1.1s infinite alternate;
}

.skeletontext {
    width: 100%;
    height: 0.9rem;
}

.skeletontitle {
    width: 50%;
    height: 1.5rem;
    margin-bottom: 0.938rem;
}

.skeletonavatar {
    width: 2.5rem;
    height: 2.5rem;
    // margin-bottom: 50%;
}

.skeletonthumbnail {
    width: 6.25rem;
    height: 6.25rem;
}

// SKELETON STYLES STARTS HERE =============

.eventInfoContainer {
    @include sectionPadding;
    z-index: 2;
    position: relative;
    transform: translateY(-2.25rem);
    @include bigMobilePhone {
        transform: translateY(-4rem);
    }

    .mainSection {
        display: flex;
        align-items: center;
        border-radius: 1.5rem;
        padding: 1.5rem;
        background-color: $container-grey;
        gap: 1rem;
        position: relative;
        overflow: hidden;
        height: 320px;

        @include bigMobilePhone {
            flex-direction: column;
        }
        @include midSizeMobilePhone {
            padding: 1rem;
            border-radius: 1.5rem;
        }
        .eventImage {
            min-width: 30%;
            min-height: 40vh;
            width: 30%;
            height: 100%;
            border-radius: 1rem;
            position: relative;
            border-radius: 1rem;
            overflow: hidden;
            display: inline-flex;
            @include bigMobilePhone {
                width: 100%;
                min-width: 100%;
            }
            @include midSizeMobilePhone {
                min-height: 11.25rem;
                height: 11.25rem;
            }
            img {
                object-fit: cover;
            }
        }
        .tag {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            border-radius: 1rem;
            color: $white;
            width: 100px;
            height: 24px;
        }
        .eventDetails {
            display: flex;
            align-items: flex-end;
            // gap: 0.25rem;
            width: 100%;
            height: 100%;
            min-height: 100%;
            @include midSizeMobilePhone {
                flex-direction: column;
                .leftInfo {
                    order: 2;
                }
            }
            .leftInfo {
                width: 100%;
                display: flex;
                flex-direction: column;
                // gap: 0.85rem;
                .title {
                    font-size: $font-size-30;
                    font-weight: $fontWeight-600;
                    line-height: $font-size-30;
                    @include midSizeMobilePhone {
                        font-size: $font-size-20;
                        line-height: $font-size-20;
                    }
                    // font-family: Mona-Sans-Wide, 'sans-serif';
                }
                .datePosted {
                    color: $purple-grey;
                    font-size: $font-size-16 - 0.25rem;
                    width: 50%;
                }
                .publisherInfo {
                    display: flex;
                    align-items: center;
                    gap: 0.35rem;
                    &__image {
                        width: 2.5rem;
                        height: 2.5rem;
                        display: grid;
                        place-items: center;
                        @include midSizeMobilePhone {
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                    &__name {
                        font-size: $font-size-16;
                        color: $white;
                        font-weight: $fontWeight-500;
                        width: 30%;
                        @include midSizeMobilePhone {
                            font-size: $font-size-16 - 0.125rem;
                        }
                    }
                }
                .dateTime {
                    display: flex;
                    align-items: center;
                    gap: 0.75rem;
                    width: 50%;
                    @include bigMobilePhone {
                        width: 70%;
                    }
                    h4 {
                        font-size: $font-size-16;
                        font-weight: $fontWeight-500;
                        color: $white;
                    }
                }
                .location {
                    width: 80%;
                    @include bigMobilePhone {
                        width: 85%;
                    }
                    p {
                        font-size: $font-size-16 - 0.125rem;
                        color: $white;
                    }
                    button {
                        color: $purple-grey;
                        text-decoration: underline;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
                .bottomArea {
                    display: flex;
                    gap: 0.75rem;
                    margin-top: 0.8rem;
                    @include bigMobilePhone {
                        flex-direction: column;
                    }
                    .priceArea {
                        span {
                            color: $purple-grey;
                            font-size: $font-size-16 - 0.125rem;
                        }
                        h2 {
                            font-weight: $fontWeight-600;
                        }
                    }
                    button {
                        @include button();
                        @include midSizeMobilePhone {
                            font-size: $font-size-16 - 0.125rem;
                        }
                    }
                }
            }
            .actionButtons {
                width: 8%;
                display: flex;
                flex-direction: column;
                gap: 0.85rem;
                @include midSizeMobilePhone {
                    flex-direction: row;
                    width: 100%;
                    margin-bottom: 0.5rem;
                    gap: 0.5rem;
                }
                .actionButton {
                    margin-left: auto;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 100%;
                    background-color: $white;
                    display: grid;
                    place-items: center;
                    position: relative;
                    @include midSizeMobilePhone {
                        width: 2rem;
                        height: 2rem;
                    }
                    svg {
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }
        }
    }
}
