@import "./variables";
@import "./reusables";

@mixin input {
    padding: 0.6rem 0.75rem;
    background-color: rgba($color: $grey, $alpha: 0.1);
    border: 1px solid rgba($color: $grey, $alpha: 0.3);
    outline: none;
    border-radius: 0.5rem;
    color: $white;
}

.ticketDeliveryContainer {
    width: 100%;
    height: 85vh;
    // border: 1px solid #fff;
    background-color: $dark-grey;
    padding: 1.5rem;
    border-radius: 1.25rem;
    display: flex;
    gap: 1.25rem;
    @include bigMobilePhone {
        flex-direction: column;
        height: fit-content;
        min-height: fit-content;
        padding: 0;
        border-radius: 0;
        color: $white;
        // > button {
        //     display: flex;
        //     align-items: center;
        //     margin-right: auto;
        //     padding: 6px 12px;
        //     border-radius: 8px;
        //     background-color: $white;
        //     border: none;
        //     outline: none;
        //     svg {
        //         transform: translateY(-1px);
        //     }
        // }
    }

    h3 {
        font-weight: $fontWeight-500;
        font-size: $font-size-24;
    }

    .lhs {
        flex-basis: 65%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        @include bigMobilePhone {
            flex-basis: 100%;
        }
        .top {
            display: flex;
            flex-direction: column;
            // gap: 1rem;
            h3 {
                margin-bottom: 1rem;
            }
            > p {
                font-size: $font-size-16 - 0.125rem;
                line-height: $font-size-16 + 0.063rem;
                // margin-bottom: .5rem;
                @include bigMobilePhone {
                    margin-bottom: 0.25rem;
                }
            }
            span {
                font-size: $font-size-16 - 0.25rem;
                color: $purple-grey;
            }
        }

        label {
            font-size: $font-size-16 - 0.25rem;
            font-weight: $fontWeight-400;
        }

        .ticketsEmailForms {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
            gap: 1rem;
            overflow-y: auto;
            padding-right: 6px;
            @extend .scrollArea;
            &::-webkit-scrollbar {
                width: 0.35rem;
            }
            @include bigMobilePhone {
                display: flex;
                flex-direction: column;
            }

            .ticketFormFieldContainer {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                width: 100%;
                input {
                    @include input();
                }
                &__selectionArea {
                    .selectedEmail {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        > button {
                            color: $success-color;
                        }

                        span {
                            font-size: $font-size-16 - 0.15rem;
                            font-weight: $fontWeight-400;
                            cursor: pointer;
                            background-color: rgba($color: $failed-color, $alpha: 0.2);
                            border: none;
                            outline: none;
                            color: $failed-color;
                            padding: 4px 8px;
                            border-radius: 8px;
                        }
                    }
                    button {
                        font-size: $font-size-16 - 0.25rem;
                        font-weight: $fontWeight-400;
                        cursor: pointer;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: $purple-grey;
                    }
                }
                // .ticketType {
                    // text-transform: lowercase;
                // }
            }
        }
        .ticketCouponArea {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            @include bigMobilePhone {
                align-items: flex-start;
                width: 100%;
            }
            .ticketCouponInputFieldContainer {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                @include bigMobilePhone {
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                }
                .inputContainer {
                    @include input();
                    border: 0.188rem solid transparent;
                    min-width: 40%;
                    padding: 0;
                    padding-right: 12px;
                    @include bigMobilePhone {
                        width: 100%;
                        display: flex;
                        padding: 0
                    }
                    input {
                        @include input();
                        background-color: transparent;
                        border: none;
                        // padding: .6rem .75rem;
                        @include bigMobilePhone {
                            width: 100%;
                            // border: 1px solid #fff;
                        }
                    }
                    button {
                        background-color: $dark-grey;
                        color: $white;
                        padding: 5px 12px;
                        border-radius: 12px;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        font-size: $font-size-16 - 0.25rem;
                        > span {
                            position: relative;
                            width: 20px;
                            height: 20px;
                            display: block;
                        }
                        @include bigMobilePhone {
                            padding: 5px 16px;
                        }
                    }
                    > .active {
                        background-color: $primary-color;
                    }
                }
                .valid {
                    border: 0.188rem solid rgba($color: $primary-color-sub, $alpha: 0.5);
                }
                .invalid {
                    border: 0.188rem solid rgba($color: $failed-color, $alpha: 0.5);
                }
                > span {
                    font-size: $font-size-16 - 0.4rem;
                    font-weight: $fontWeight-500;
                    display: flex;
                    align-items: center;
                    gap: 0.125rem;
                    svg {
                        width: 1rem;
                        height: 1rem;
                        transform: translateY(-0.125rem);
                    }
                }
                #valid {
                    // color: $primary-color-sub !important;
                    color: #5cb85c;
                    svg {
                        path {
                            fill: #5cb85c;
                        }
                    }
                }
                #invalid {
                    color: $failed-color !important;
                    font-weight: $fontWeight-400;
                }
            }
        }
        .bottomArea {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            > p {
                color: $purple-grey;
            }
            > span {
                display: flex;
                align-items: center;
                gap: 0.625rem;
                span {
                    &:first-child {
                        font-size: $font-size-16 - 0.125rem;
                    }
                }
                .amount {
                    font-size: $font-size-24;
                    > span {
                        font-size: $font-size-24;
                        font-family: Mona-Sans-Wide, "san-serif";
                    }
                }
            }
        }
        .viewOrderSummaryBtn {
            margin: 12px 0;
            > button {
                @include secondary-button;
                width: 100%;
                justify-content: center;
                background-color: $white;
                color: $black;
                font-weight: $fontWeight-600;
            }
        }
    }
    .rhs {
        flex-basis: 35%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include bigMobilePhone {
            flex-basis: 100%;
        }
        .eventImage {
            width: 100%;
            height: 9.375rem;
            min-height: 9.375rem;
            border-radius: 1rem - 0.125rem;
            overflow: hidden;
            img {
                object-fit: cover;
            }
        }
        .summaryInfo {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            // border: 1px solid #fff;
            height: 100%;
            max-height: 100%;
            overflow-y: auto;
            padding-right: 0.375rem;
            @extend .scrollArea;
            scrollbar-width: thin;
            &::-webkit-scrollbar {
                width: 0.35rem;
            }

            &__ticket,
            &__subs {
                padding: 0.75rem 1.5rem;
                background-color: rgba($color: $primary-color-sub-50, $alpha: 0.1);
                border-radius: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                > span {
                    font-size: $font-size-16 - 0.25rem;
                    color: $primary-color-sub-50;
                }
                .value {
                    font-size: $font-size-16 - 0.125rem;
                    font-weight: $fontWeight-400;
                }
            }
            &__subs {
                background-color: transparent;
                padding: 0.375rem 1.5rem;
            }
        }
        .actionButtons {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 1rem;
            @include bigMobilePhone {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 8px 16px;
                background-color: rgba($color: #000000, $alpha: 0.5);
                filter: blur(50);
            }
            button {
                @include secondary-button;
                width: 100%;
                justify-content: center;
                font-weight: $fontWeight-500;
                &:first-child {
                    background-color: $failed-color;
                }
                &:nth-child(2) {
                    background-color: $white;
                    color: $dark-grey;
                }
            }
        }
    }
}
