@import "./variables";
@import "./reusables";

.userAvatarContainer {
    position: relative;
    .userAvatar {
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        img {
            object-fit: cover;
        }
    }
    .editIcon {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 100%;
        border: 0.0938rem solid $white;
        background-color: $primary-color;
        cursor: pointer;
        display: grid;
        place-items: center;
        &:hover {
            background-color: darken($color: $primary-color, $amount: 15%);
        }
        svg {
            width: 1rem;
            height: 1rem;
        }
    }
}