@import "./variables";
@import "./reusables";

.verifyPaymentPage {
    display: grid;
    place-items: center;
    min-height: 85vh;
    background-color: $dark-grey;
    @include bigMobilePhone {
        min-height: 60vh;
        padding: 1rem;
    }

    .loaderAreaContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .loaderArea {
            width: 100px;
            height: 100px;
            position: relative;
            margin-bottom: 1rem;
        }
        h3 {
            font-size: 1.25rem;
            font-weight: 500;
            color: $white;
            margin-bottom: 0.25rem;
        }
        p {
            font-size: 0.85rem;
            color: $white;
            text-align: center;
        }
    }
}