
.togglerContainer {
    width: fit-content;
    position: relative;

    .toggler {
        background-color: var(--main-color);
        background-color: var(--disabled-color);
        width: fit-content;
        width: 44px;
        height: 24px;
        border-radius: 24px;
        position: relative;
        display: block;
        transition: all 300ms ease-in-out;
        .togglerIndicator {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background-color: var(--toggler-indicator-color);
            position: absolute;
            top: 50%;
            left: 2px;
            transform: translateY(-50%) scale(0.9);
            // transform: translateX(2px);
            display: block;
            z-index: 2;
            // background-color: $;
            cursor: pointer;
            transition: all 300ms ease-in-out;
        }
    }
    input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0;
        z-index: 3;
        cursor: pointer;
    }
    input:checked + .toggler .togglerIndicator {
        left: calc(100% - 22px);
        // transform: translateY(-50%) scale(0.9);
        animation: sqwish 300ms ease-in 0;
        @keyframes sqwish {
            50% {
                transform: translateY(-50%) scale(0.2);
            }
            100% {
                transform: translateY(-50%) scale(0.9);
            }
        }
    }
    input:checked ~ .toggler {
        background-color: var(--main-color);
    }
}