@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@layer base {
  table {
    @apply bg-white w-full border-collapse;
  }

  table th,
  table td {
    @apply border-dark-grey border-b text-left;
  }

  table th:first-child,
  table td:first-child {
    @apply pl-6 max-w-[140px] text-ellipsis overflow-hidden whitespace-nowrap;
  }

  table tr:last-child td {
    @apply border-0;
  }

  table th {
    @apply bg-gray-800 py-4 px-3 text-white text-sm font-normal;
  }

  table td {
    @apply text-gray-500 text-sm py-3 px-[10px];
  }

  /* tags */
  table .tag {
    @apply bg-success-color text-white px-2 py-1 rounded-2xl text-xs w-fit;
  }

  table .pendingTag {
    @apply tag bg-warning-color;
  }

  table .completedTag {
    @apply tag bg-success-color;
  }

  table .cancelledTag {
    @apply tag bg-failed-color;
  }

  table .initiatedTag {
    @apply tag bg-premium;
  }

  /* actions dropdown */
  table .actionsDropdownContainer {
    @apply relative flex;
  }

  table .actionsDropdownContainer button {
    @apply tertiaryButton !text-xs !px-1 !py-0.5 !mr-1;
  }

  table .actionsDropdownContainer span {
    @apply w-6 h-6 grid place-items-center cursor-pointer rounded relative hover:opacity-65;
  }

  table .actionsDropdownContainer svg {
    @apply w-[0.85rem] h-[0.85rem];
  }

  table .dropdownOptions {
    @apply absolute top-8 right-1/2 h-fit bg-white border-2  border-black z-[3] [&_span]:p-2 flex flex-col w-[200px];
  }

  table .dropdownBtn {
    @apply size-[26px] grid place-items-center cursor-pointer bg-dark-grey/[0.025] rounded-lg hover:bg-dark-grey/10 [&_svg_path]:fill-dark-grey;
  }
}

@layer utilities {
  .navLink {
    @apply rounded-lg w-full flex justify-start items-center p-[0.8rem] my-0 mx-auto gap-2 [&_svg]:size-4;
  }

  .input {
    @apply w-fit rounded-[3.125rem] text-sm py-[0.8rem] px-[1.1rem] border-none outline-none bg-white placeholder:bg-grey-bg;
  }

  .primaryButton {
    @apply size-fit rounded-[0.625rem] cursor-pointer text-sm py-[0.8rem] px-[1.6rem] border-none bg-primary-color text-white flex items-center gap-2 [&_svg]:opacity-100 [&_svg]:text-white [&_svg]:w-3 [&_svg_path]:fill-white hover:bg-white hover:text-primary-color;
  }

  .secondaryButton {
    @apply w-fit rounded-[3.125rem] cursor-pointer text-sm py-[0.8rem] px-[1.6rem] border-none bg-primary-color text-white flex items-center gap-2 [&_svg]:text-white [&_svg]:w-3 [&_svg_path]:fill-white;
  }

  .tertiaryButton {
    @apply w-fit rounded-[3.125rem] cursor-pointer text-sm py-[0.8rem] px-[1.6rem] border-none bg-white text-dark-grey flex items-center gap-2 [&_svg]:text-white [&_svg]:w-3 [&_svg_path]:fill-white hover:opacity-60;
  }

  .tableConatiner {
    @apply max-h-[65vh] overflow-y-auto rounded-2xl relative bg-container-grey;
  }
  .tableLoader {
    @apply w-full h-[15vh] bg-grey-bg;
  }

  .tableInfoUnavailable {
    @apply w-full min-w-full h-[15vh] relative col-span-2 bg-grey-bg;
  }

  .tableInfoUnavailable p {
    @apply absolute m-auto opacity-80 whitespace-nowrap top-[40%] left-1/2 -translate-x-1/2 text-sm text-dark-grey;
  }
}

.sectionPadding {
  @apply p-[1.25rem] md:px-[5rem] min-[1300px]:px-[16%] lg:px-[10rem];
}

.bumpDownAnimation {
  animation: bumpDown 400ms cubic-bezier(0.65, -0.07, 0.25, 1.24);
}
.moveFirstAnimation {
  animation: moveFirst 5400ms ease infinite alternate;
}
.moveSecondAnimation {
  animation: moveSecond 5400ms ease infinite alternate;
}
.moveThirdAnimation {
  animation: moveThird 7800ms ease infinite alternate;
}
.moveFourthAnimation {
  animation: moveFourth 7800ms ease infinite alternate;
}

/* keyFrames */
@keyframes bumpDown {
  from {
    top: 2.188rem;
    opacity: 0;
  }
}

@keyframes moveFirst {
  0% {
    top: -50%;
    left: -40%;
    transform: translate(0%, 0%);
  }
  25% {
    top: -50%;
    left: 80%;
    transform: translate(0%, 0%);
  }
  50% {
    top: 0%;
    left: 0%;
    transform: translate(50%, 50%);
  }
  100% {
    top: 0%;
    left: 0%;
    transform: translate(250%, 50%);
  }
}
@keyframes moveSecond {
  0% {
    top: -50%;
    left: 80%;
    transform: translate(0%, 0%);
  }
  25% {
    top: -50%;
    left: -40%;
    transform: translate(0%, 0%);
  }
  50% {
    top: 0%;
    left: 0%;
    transform: translate(50%, 50%);
  }
  100% {
    top: 150%;
    left: -40%;
    transform: translate(0%, 0%);
  }
}
@keyframes moveThird {
  0% {
    top: 0%;
    left: 0%;
    transform: translate(50%, 50%);
  }
  25% {
    top: -50%;
    left: -40%;
    transform: translate(0%, 0%);
  }
  50% {
    top: -50%;
    left: 80%;
    transform: translate(0%, 0%);
  }
  100% {
    top: 150%;
    left: -40%;
    transform: translate(0%, 0%);
  }
}
@keyframes moveFourth {
  0% {
    top: 150%;
    left: -40%;
    transform: translate(0%, 0%);
  }
  25% {
    top: 50%;
    left: -40%;
    transform: translate(0%, 0%);
    scale: 1;
  }
  50% {
    top: -50%;
    left: 80%;
    transform: translate(0%, 0%);
    scale: 3;
  }
  100% {
    top: 0%;
    left: 0%;
    transform: translate(50%, 50%);
    scale: 1;
  }
}
